<div id="<%= dom_id participant %>">
  <p>
    <strong>Name:</strong>
    <%= participant.name %>
  </p>

  <p>
    <strong>IC Number:</strong>
    <%= custom_format_ics_no(participant.ics_no) %>

  </p>

   <p>
    <strong>Serial Number:</strong>
    <%= participant.serial_num %>
  </p>

  <% if participant.course_category %>
  <p>Course Category: <%= participant.course_category.name %></p>
<% else %>
  <p>Course Category: N/A</p>
<% end %>
  

</div>
