
<%# form_with(url: participants_path, method: "get") do |form| %>
  <%# form.text_field :search_ics, placeholder: "Search by IC Number" %>
  <%# form.submit "Search" %>
<%# end %>


<p style="color: green"><%= notice %></p>

<h1>Participants</h1>

<div id="participants">
  <% @participants.each do |participant| %>
    <%= render participant %>
    <p>
      <%= link_to "Show this participant", participant %> | <%= link_to "Download" , download_participant_path(participant) %>
    </p>
  <% end %>
</div>

<%= link_to "New participant", new_participant_path %>
